<div class="row" ng-init="init()">
    <div class="page-bar page-bar-color2">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/#/dashboard">Home</a>	
                            <i class="fa fa-angle-right"></i>					
                        </li>	
                        <li>
						    <a href="/#/user/newuser">New User</a>					
					    </li>									
                    </ul>
    </div>
<div>
<div class="portlet box blue-hoki" ng-init="init()">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Create User Form  </div>                                                
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" ng-submit="createuser()">
        <div ng-show="registerError.length>0">
            <div ng-repeat="err in registerError">
                    <div class="alert alert-danger animated fadeIn">{{err.msg}}</div>
            </div> 
        </div>
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Access Type</label>
                    <div class="col-md-4">
                        <div>
                            <select class="form-control" ng-model="byselect.accesstype">
                                <option value="--" selected>-- Select Access Type --</option>
                                <option value="SUPER ADMINISTRATOR">SUPER ADMINISTRATOR</option>
                                <option value="SUPERVISOR">SUPERVISOR</option>
                                <option value="ENCODER">ENCODER</option>
                                <option value="ROAD BOARD">ROAD BOARD</option>            
                            <select>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="byselect.accesstype =='SUPERVISOR' || byselect.accesstype =='ENCODER'">
                    <label class="col-md-3 control-label">Location</label>
                    <div class="col-md-4">
                        <div>
                            <select class="form-control" ng-change="onchange_provinces()" ng-model="byselect.province">
                                <option value="--" selected>-- Select Province --</option>
                                <option value="{{prov.code}}" ng-repeat="prov in provinces">{{ prov.prov_name}}</option>                                            
                            <select>
                        </div>
                    </div>
                </div>
                 <div class="form-group" ng-show="(byselect.accesstype =='SUPERVISOR' || byselect.accesstype =='ENCODER') && byselect.province!=='--'">                    
                    <label class="col-md-3 control-label">&nbsp;</label>
                    <div class="col-md-4">
                        <div>
                            <select class="form-control" ng-change="onchange_municity()" ng-model="byselect.municity">
                                <option value="--" selected>-- Municipality/City --</option>
                                <option value="{{mun.Code}}" ng-repeat="mun in municipalities">{{ mun.Name}}</option>                                            
                            <select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-4">
                        <input required type="text" ng-model="byselect.name" class="form-control" placeholder="Enter full name">                                                                
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email Address</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input type="email" required ng-model="byselect.email" class="form-control" placeholder="Email Address"> </div>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="password" required ng-model= "byselect.password" class="form-control" placeholder="Password">
                            <input type="hidden"   ng-model= "byselect.password" class="form-control" placeholder="Password">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <span class="help-block"> <a style="font-size:10px;cursor:pointer;" ng-click="generatepassword()">Generate New Password</a> </span>
                    </div>
                </div>                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Submit</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->

    </div>        
</div>
