<div class="row" ng-init="init()">
    <div class="page-bar page-bar-color2">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/#/dashboard">Home</a>	
                            <i class="fa fa-angle-right"></i>					
                        </li>	
                        <li>
						    <a href="/#/user/userlist">User List</a>					
					    </li>									
                    </ul>
    </div>
<div class="page-bar" style="margin-bottom:4px;">
    <div class="col-sm-4" style="margin-top:10px">        
    </div>
    <div class="col-sm-8 no-padding">
        <div class="input-group">
            <input ng-change="onSearch(searchText)" ng-model="searchText" type="text" class="form-control txt-white" placeholder="Search user" /> <span class="input-group-btn"> 
            <button class="btn btn-primary2" type="button">Search
            </button> </span>
        </div>
    </div>       
</div>
<div>
    <table class="table table-bordered-2 table-list-001">            
        <thead>
            <tr class="table-head">
                <td align="left">Name</td>
                <td align="left"> Email</td>
                <td align="left">Location</td>
                <td width="110">Access Type</td>
                <td width="110">Activated</td>                
                <td align="center">Action</td>
            </tr>                                                 
        </thead>
       <tbody>
           <tr ng-repeat="user in users.docs">
               <td align="left"><a href="" ng-click="viewuserprofile(user)">{{ user.name }}</a></td>
                <td align="left"> {{ user.email }}</td>
                <td ng-if="user.roles.indexOf('VIEWER REGION')==-1" align="left">{{ user.location.province_text}}, {{ user.location.municity_text}}</td>
                <td ng-if="user.roles.indexOf('VIEWER REGION')>-1" align="left">{{ user.location.region_text}}</td>
                <td width="110">{{user.roles[0].substring(0,11)}}</td>
                <td width="110">{{ user.activated }}</td>                
                <td align="right" style="padding:2px">
                    <a href="" class="btn btn-primary2 " ng-click="update(user)">Update</a>
                    <a href="" class="btn btn-danger" ng-click="deleteuser(user)">Remove</a>
                </td>
          </tr>               
       </tbody>
       <tfoot>
           <tr>
               <td align="left" colspan="8">
                   <!-- previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" -->
                   <pagination  ng-show="users.pages>1" ng-change="pageChanged(pagination.CurrentPage)" rotate="false" boundary-link-numbers="false" total-items="(pagination.max * 10)" ng-model="pagination.CurrentPage" max-size="5" class="pagination-sm" boundary-links="true">
                    </pagination>
               </td>    
           </tr>    
       </tfoot>             
    </table>    
</div>    
</div>
<script type="text/ng-template" id="user_profile">
    <md-dialog aria-label="User Profile" ng-init="init()" style="width:30%">        
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>User Profile</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> 
                    <i class="fa fa-times" aria-hidden="true"></i>                  
                </md-button>
              </div>
            </md-toolbar>                     
            <md-dialog-content>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td><label>Name:</label></td>
                        <td>{{ userProfile.name }}</td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td>{{ userProfile.email }}</td>
                    </tr>
                    <tr>
                    <td><label>Designation:</label></td>
                    <td> {{ userProfile.location.province_text}}, {{ userProfile.location.municity_text}}</td>
                    </tr>
                    <tr>
                    <td><label>Position:</label></td>
                    <td>{{ userProfile.profile.position }}</td>
                    </tr>
                    <td><label>Department:</label></td>
                    <td>{{ userProfile.profile.department }}</td>
                    </tr>
                    <td><label>Primary Mobile #:</label></td>
                    <td>{{ userProfile.profile.mobile1 }}</td>
                    </tr>
                    <td><label>Secondary Mobile #:</label></td>
                    <td>{{ userProfile.profile.mobile2 }}</td>
                    </tr>
                    <td><label>Primary Phone #:</label></td>
                    <td>{{ userProfile.profile.phone1 }}</td>
                    </tr>
                    <td><label>Secondary Phone #:</label></td>
                    <td>{{ userProfile.profile.phone2 }}</td>
                    </tr>
                </table>
            </md-dialog-content>    
    </md-dialog>                
</script>
<div>