<div class="modal-header box blue-hoki">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <label class="modal-title">Forgot Password</label>
    </div>
    <div class="modal-content" ng-init="init()">
        <div class="modal-body">      
          <div class="row">
              <div class="col-md-12">                                   
                            <div class="form-group">
                                <div class="col-md-12">                                    
                                    <div class="input-group">
                                        <input type="email" required ng-model= "forgotpassword.email" class="form-control" placeholder="Email">                                            
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>                                        
                                </div>
                            </div>                
              </div>                  
          </div>                
        </div>
        <div ng-show="forgotpasswordError!=''" class="alert alert-danger animated fadeIn">{{forgotpasswordError}}</div>    
        <div class="modal-footer" style="padding:17px 30px 15px !important">
                <button class="btn btn-primary" ng-click="send()">
                    <i class="fa fa-send" aria-hidden="true"></i>
                    Send
                </button>
                <button class="btn btn-white" ng-click="cancel()">Close</button>                                
        </div>
    </div>